doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title eas.puv.bar
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="/css/load.css")
        link(rel="stylesheet", href="/css/scroll.css")
        link(rel="stylesheet", href="/css/overlay.css")
        link(rel="stylesheet", href="/css/screen.css")
        script(src="/js/index.js")
        script(src="/js/tabs.js")
        // Leaflet Map
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="")
        script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="")
        script(src="/js/map.js") 
    body 
        #map
        .overlay
            .left 
                .switch 
                    div(onclick="Switch(0)" data-switch="magnitude") Magnitude 
                    div(onclick="Switch(1)" data-switch="intensity") Intensity
            .right(style="right: 0em")
                #toggle(data-toggle="close") <
                .list-wrapper 
                    .loading     
                    #list  